body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 1rem;
  border: 1px solid rgb(161, 159, 159);
  padding: 1rem 10%;
  border-radius: 2rem;
}

h1.mat-elevation-z8 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.hipotese-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.hipotese-options {
  width: 48%; /* Ajuste conforme necessário */

}

h2 {
  margin-top: auto;
  font-size: 25px;
}

label {
  display: block;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  margin-right: 10px; /* Adicionado espaço à direita */
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #3d79e7; /* Azul para avaliar hipótese */
  color: #fff; /* Texto branco para melhor visibilidade */
}


.proxima {
  background-color: #e6e92a; /* Amarelo para próxima etapa */
  color: #000; /* Texto preto para melhor visibilidade */
}

.proxima:hover {
  filter: brightness(1.2); /* Efeito de brilho ao passar o mouse */
}

.mat-form-field-custom {
  width: 48%; /* Ajuste conforme necessário */
  margin-top: 20px;
}

textarea {
  width: calc(100% - 20px);
  height: 250px;
  font-size: 20px;
  color: #000000;
}

textarea::placeholder {
  font-size: 70px;
  color: #000000;
}



.avaliacao-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


