<div class="container">
  <h1 class="mat-elevation-z8">SOFTMED - Hipótese Diagnóstica</h1>
</div>

<div *ngIf="opcoesDiagnostico.length > 0" class="hipotese-container">
  <div class="hipotese-options">
    <h2>Selecione o seu provável diagnóstico:</h2>
    <div *ngFor="let opcao of opcoesDiagnostico">
      <label>
        <input
          type="radio"
          [(ngModel)]="hipoteseDiagnostica"
          name="hipoteseDiagnostica"
          [value]="opcao"
          id="{{ opcao }}"
        />
        {{ opcao }}
      </label>
    </div>

    <button
      (click)="avaliarHipoteseDiagnostica()"
      class="full-width mat-elevation-z4"
      mat-raised-button
      color="primary"
    >
      Avaliar Hipótese
    </button>

    <button
      (click)="navegarProximaEtapa()"
      [disabled]="bloquearProximaEtapa || !validaCampos()"
      class="full-width mat-elevation-z4 proxima"
      mat-stroked-button
      color="warn"
    >
      Próxima Etapa
    </button>
  </div>

  <mat-form-field class="mat-form-field-custom">
    <mat-icon class="icone-informativo" matSuffix>info</mat-icon>
    <textarea
      matInput
      placeholder="Escreva aqui suas anotações"
      matTextareaAutosize
      matAutosizeMinRows="2"
      matAutosizeMaxRows="5"
    ></textarea>
  </mat-form-field>

  <button
    mat-button
    class="avaliacao-button"
    (click)="abrirDialogo()"
    [disabled]="bloquearProximaEtapa"
  >
    Avaliação do Aplicativo
  </button>
</div>

<mat-dialog-content *ngIf="mostrarDialogo">
  <p>Como você avalia o nosso Aplicativo?</p>
  <div class="avaliacao-buttons">
    <button mat-button (click)="avaliar('bom')">😃 Bom</button>
    <button mat-button (click)="avaliar('mediano')">😐 Mediano</button>
    <button mat-button (click)="avaliar('ruim')">😞 Ruim</button>
  </div>
</mat-dialog-content>
