<div class="container mat-elevation-z8">
  <form class="form">
    <h1 class="fullWidth">Cadastrar Exames de Imagem</h1>

    <div
      *ngFor="let exame of examesImagemList; let i = index"
      class="exame-imagem-item"
    >
      <label for="examesImagemCorreto{{ i }}">Exame Correto:</label>
      <input
        type="text"
        id="examesImagemCorreto{{ i }}"
        [(ngModel)]="exame.examesImagemCorreto"
        name="examesImagemCorreto{{ i }}"
        required
      />

      <label for="exameImagemIncorretos{{ i }}">Exame Incorreto:</label>
      <input
        type="text"
        id="exameImagemIncorretos{{ i }}"
        [(ngModel)]="exame.exameImagemIncorretos"
        name="exameImagemIncorretos{{ i }}"
      />

      <button
        (click)="removerExame(i)"
        class="full-width mat-elevation-z4 remover"
        mat-raised-button
        color="primary"
      >
        Remover Exame
      </button>
    </div>

    <div class="botoes-escolha">
      <button
        (click)="adicionarExame()"
        class="full-width mat-elevation-z4 adicionar"
        mat-stroked-button
        color="primary"
      >
        Adicionar Exame
      </button>

      <button
        (click)="criarExamesParaCasoClinicoReceiver()"
        class="full-width mat-elevation-z4 criar"
        mat-stroked-button
        color="warn"
      >
        Criar Exames
      </button>
    </div>
  </form>
</div>
