<div class="container mat-elevation-z8">
    <form class="form" >
      <h1 class="fullWidth">Cadastrar Exames de Soro Lab</h1>
  
      <div
        *ngFor="let exame of examesSoroLabList; let i = index"
        class="exame-fisico-item"
      >
        <label for="examesSoroDTOCorreto{{ i }}">Exame Correto:</label>
        <input
          type="text"
          id="examesSoroDTOCorreto{{ i }}"
          [(ngModel)]="exame.examesSoroDTOCorreto"
          name="examesSoroDTOCorreto{{ i }}" 
          required
        />
  
        <label for="examesSoroDTOIncorreto{{ i }}">Exame Incorreto:</label>
        <input
          type="text"
          id="examesSoroDTOIncorreto{{ i }}"
          [(ngModel)]="exame.examesSoroDTOIncorreto"
          name="examesSoroDTOIncorreto{{ i }}" 
        />
  
        <button (click)="removerExame(i)">Remover Exame</button>
      </div>
  
      <button (click)="adicionarExame()">Adicionar Exame</button>
      <button (click)="criarExamesParaCasoClinicoReceiver()">Criar Exames</button>
    </form>
  </div>
  