<div class="container">

    <form class="form mat-elevation-z8">
 
       <h1>SOFTMED</h1>
      
      <div class="div-img">
         <img src="assets/img/pngegg.png" alt="">

      </div>
      <div class="forms">
         <mat-label>E-mail</mat-label>
         <mat-form-field appearance="outline">
            <input 
            [formControl]="email"
            required
            [(ngModel)]="creds.email" 
            name="email" 
            matInput 
            placeholder="Ex. fulano@mail.com">
            <mat-icon matSuffix>email</mat-icon>
         </mat-form-field>
        
         <mat-label>Senha</mat-label>
         <mat-form-field appearance="outline">
            <input 
            [formControl]="senha"
            required
            [(ngModel)]="creds.senha" 
            name="senha" 
            type="password" 
            matInput 
            placeholder="Ex. 123">
            <mat-icon matSuffix>password</mat-icon>
         </mat-form-field>
      </div>
     
      
      <div class="div-button">
         <button (click)="logar()" [disabled]="!validaCampos()"  mat-stroked-button color="primary"> Entrar</button>
      </div>
     
     
    </form>
    
 </div>