<div class="container mat-elevation-z8">
  <form class="form">
    <h1 class="fullWidth">Cadastrar Exames Fisicos</h1>

    <div
      *ngFor="let exame of examesFisicoslist; let i = index"
      class="exame-fisico-item"
    >
      <label for="examesFisicosCorretoDTO{{ i }}">Exame Correto:</label>
      <input
        type="text"
        id="examesFisicosCorretoDTO{{ i }}"
        [(ngModel)]="exame.examesFisicosCorretoDTO"
        name="examesFisicosCorretoDTO{{ i }}"
        required
      />

      <label for="examesFisicosIncorretoDTO{{ i }}">Exame Incorreto:</label>
      <input
        type="text"
        id="examesFisicosIncorretoDTO{{ i }}"
        [(ngModel)]="exame.examesFisicosIncorretoDTO"
        name="examesFisicosIncorretoDTO{{ i }}"
      />

      <button
        (click)="removerExame(i)"
        class="full-width mat-elevation-z4 remover"
        mat-raised-button
        color="primary"
      >
        Remover Exame
      </button>
    </div>
    <div class="botoes-escolha">
      <button
        (click)="adicionarExame()"
        class="full-width mat-elevation-z4 adicionar"
        mat-raised-button
        color="primary"
      >
        Adicionar Exame
      </button>

      <button
        (click)="criarExamesParaCasoClinicoReceiver()"
        class="full-width mat-elevation-z4 criar"
        mat-stroked-button
        color="warn"
      >
        Criar Exames
      </button>
    </div>
  </form>
</div>
