<div class="container mat-elevation-z8">
  <form class="form" >
    <h1 class="fullWidth">Cadastrar Exames Fisicos</h1>

    <div
      *ngFor="let exame of examesFisicoslist; let i = index"
      class="exame-fisico-item"
    >
      <label for="examesFisicosCorretoDTO{{ i }}">Exame Correto:</label>
      <input
        type="text"
        id="examesFisicosCorretoDTO{{ i }}"
        [(ngModel)]="exame.examesFisicosCorretoDTO"
        name="examesFisicosCorretoDTO{{ i }}" 
        required
      />

      <label for="examesFisicosIncorretoDTO{{ i }}">Exame Incorreto:</label>
      <input
        type="text"
        id="examesFisicosIncorretoDTO{{ i }}"
        [(ngModel)]="exame.examesFisicosIncorretoDTO"
        name="examesFisicosIncorretoDTO{{ i }}" 
      />

      <button (click)="removerExame(i)">Remover Exame</button>
    </div>

    <button (click)="adicionarExame()">Adicionar Exame</button>
    <button (click)="criarExamesParaCasoClinicoReceiver()">Criar Exames</button>
  </form>
</div>
