* {
   box-sizing: border-box;
}

.container {
    height: 100%;
    overflow-x: hidden;
}
 
 .sidenav {
   width: 15rem;
   height: 100vh;
   color: white;
   background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(37,97,207,1) 0%, rgba(0,212,255,1) 100%);
 }

 .img {
   width: 100%;
   display: flex;
   justify-content: center;
 }
 img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    padding: 1rem 0;
 }
 
 .sidenav a {
    color: white;
    text-decoration: none;
 }
 
 .sidenav i {
    margin-right: .6rem;
 }


 .navbar-list {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 5rem;
}

.navbar-list div{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.navbar-list a {
   display: flex;
   padding-left: .5rem;
   padding: 1rem ;
   transition: .3s ease-in-out;
   cursor: pointer;
}

.navbar-list a:hover {
   background: #2561cf79;
}
 
 .menu {
    margin: .5rem .5rem;
    padding-top: .3rem;
    color: white;
    border: none;
    border-radius: 4px;
    background: linear-gradient(180deg, rgba(37,97,207,1) 0%, rgba(0,212,255,1) 100%);
    transition: .3s ease-in-out;
   }

 .menu:hover {
   background: linear-gradient(180deg, rgb(18, 66, 156) 0%, rgb(20, 182, 214) 100%);
 }