mat-card {
    width: 100%;
    height: auto;
    align-items: center;
}

.banner {
    /*Casos Clinicos */

}

.full-width {
    width: 100%;
    height: 100%;
}

.nome {
    width: 50%;
    height: 80%;
}

.inputName{
    align-items: center;
    height: 50%;
}

.altura{
    align-items: center;
    height: 50%;
}

.inputAltura {
  align-items: center;
  height: 50%;
}

.peso {
    width: 50%;
    height: 80%;
}

.inputPeso{
    align-items: center;
    height: 50%;
}

.sex {
    width: 50%;
    height: 50%;
}

.cor {
    align-items: center;
    height: 50%;
}

.inputCor {
    width: 50%;
    height: 50%;
}

.profissao {
    width: 50%;
    height: 50%;
}

.inputProfissao{
    align-items: center;
    height: 50%;
}

.religiao {
    width: 50%;
    height: 50%;
}

.inputReligiao{
    width: 50%;
    height: 50%;
}

.natural {
    width: 50%;
    height: 50%;
}

.inputNatural{
    width: 50%;
    height: 50%;
}

.residente {
    width: 50%;
    height: 50%;
}

.inputResidente{
    width: 50%;
    height: 50%;
}

.envio {
    background-color: aqua;
    background-size: 40%;
    background-position: 20%;
}


mat-grid-tile {
    background: lightblue;
}