<mat-card>

    <mat-toolbar class="banner" color="secondary">
        <h1>CASOS CLÍNICOS</h1>
    </mat-toolbar>

    <mat-card-content>
        <form [formGroup]="form" class="full-width">

            <mat-form-field class="nome">
                <label for="nome">Nome:</label>
                <input class="inputName" type="text" id="nome" name="nome" [(ngModel)]="nome">
            </mat-form-field>

            <mat-form-field class="idade">
                <label for="idade">Idade:</label>
                <input class="inputIdade" type="text" id="idade" name="idade" [(ngModel)]="idade">
            </mat-form-field>

            <mat-form-field class="altura">
                <label for="altura">Altura:</label>
                <input class="inputAltura" type="text" id="altura" name="altura" [(ngModel)]="altura">
            </mat-form-field>

            <mat-form-field class="peso">
                <label for="altura">Peso:</label>
                <input class="inputPeso" type="text" id="altura" name="altura" [(ngModel)]="peso">
            </mat-form-field>

            <mat-form-field class="sex">
                <label for="sexo">Sexo:</label>
                <input class="inputSexo" type="text" id="sexo" name="sexo" [(ngModel)]="sexo">
            </mat-form-field>
        </form>
        <form [formGroup]="form" class="full-width">
            <mat-form-field class="cor">
                <label for="cor">Cor:</label>
                <input class="inputCor" type="text" id="cor" name="cor" [(ngModel)]="cor">
            </mat-form-field>


            <mat-form-field class="profissao">
                <label for="profissao">Profissão:</label>
                <input class="inputProfissao" type="text" id="profissao" name="profissao" [(ngModel)]="profissao">
            </mat-form-field>


            <mat-form-field class="religiao">
                <label for="religiao">Religião:</label>
                <input class="inputReligiao" type="text" id="religiao" name="religiao" [(ngModel)]="religiao">
            </mat-form-field>


            <mat-form-field class="natural">
                <label for="natural">Natural:</label>
                <input class="inputNatural" type="text" id="natural" name="natural" [(ngModel)]="natural">
            </mat-form-field>


            <mat-form-field class="residente">
                <label for="residente">Residente:</label>
                <input class="inputResidente" type="text" id="residente" name="residente" [(ngModel)]="residente">
            </mat-form-field>

            <button type="submit" class="envio">ENVIAR</button>
        </form>


    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>

        <a routerLink="">
            <i class="emogi-green-1">💚</i>
            QP
        </a>

        <a routerLink="">
            <i class="emogi-white-1">🤍</i>
            HDA
        </a>

        <a routerLink="">
            <i class="emogi-green-2">💚</i>
            IDA
        </a>

        <a routerLink="">
            <i class="emogi-white-2">🤍</i>
            HPP
        </a>

        <a routerLink="">
            <i class="emogi-green-3">💚</i>
            HF
        </a>

        <a routerLink="">
            <i class="emogi-white-3">🤍</i>
            HS
        </a>

        <a routerLink="">
            <i class="emogi-green-3">💚</i>
            EXAME FISICO
        </a>

    </mat-card-content>
</mat-card>


<mat-card>
    <mat-card-content>

        <a mat-list-item routerLink="">
            <i class="material-icons">airline_seat_individual_suite</i>
            Hipótese Diagnóstica
        </a>

        <a mat-list-item routerLink="">
            <i class="material-icons">people</i>
            Conduta
        </a>

        <a mat-list-item routerLink="">
            <i class="material-icons">poll</i>
            Resultado Exames
        </a>

        <a mat-list-item routerLink="">
            <i class="material-icons">equalizer</i>
            Evolução
        </a>


    </mat-card-content>
</mat-card>

