@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

html {
    font-family: 'Oswald', sans-serif;
}

.envio {
    color: white;
    font-style: oblique;
    width: 45%;
    margin: auto;
    background-color: #03C9FA;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 10px 300px;
}

mat-toolbar {
    text-align: center;
}

mat-card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

mat-form-field {
    margin: 10px;
    font-size: 1rem;
}

mat-form-field input {
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px 0px
}

mat-grid-tile {
    background: lightblue;
}