body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container.mat-elevation-z8 {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form {
  width: 100%;
  max-width: 600px;
}

.fullWidth {
  width: 100%;
}

.testes-farma-item {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #3d79e7;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 20px;
  border-right: 1rem;
}

.remover {
  background-color: red;
  color: #fff;
}

.criar {
  margin-right: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #3d79e7;
  color: #fff;
  margin-bottom: 1rem;
}

.adicionar {
  background-color: #e6e92a;
  color: #000;
  margin-bottom: 1rem;
}

.botoes-escolha {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .container.mat-elevation-z8 {
    padding: 10px;
  }

  input {
    margin-bottom: 12px;
  }

}