body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container.mat-elevation-z8 {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form {
  width: 100%;
  max-width: 600px; /* Ajuste conforme necessário */
}

.fullWidth {
  width: 100%;
}

.exame-fisico-item {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Adicione margin-bottom específico para esses dois botões */
button {
  background-color: #3d79e7;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 20px; /* Adicione esta linha para todos os botões */
}

.remover {
  background-color: red; /* Azul para avaliar hipótese */
  color: #fff;
}

.criar {
  margin-top: 10px;
  margin-right: 10px; /* Adicionado espaço à direita */
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #3d79e7; /* Azul para avaliar hipótese */
  color: #fff;
}

.adicionar {
  background-color: #e6e92a; /* Amarelo para próxima etapa */
  color: #000; /* Texto preto para melhor visibilidade */
}

/* Estilos responsivos conforme necessário */
@media screen and (max-width: 600px) {
  .container.mat-elevation-z8 {
    padding: 10px;
  }

  input {
    margin-bottom: 12px;
  }

 
  
}
