<div class="container mat-elevation-z8">
  <form class="form">
    <h1 class="fullWidth">Cadastrar Testes Farmacologicos</h1>

    <div
      *ngFor="let exame of testeFarmaList; let i = index"
      class="testes-farma-item"
    >
      <label for="testesFarmaDTOCorreto{{ i }}">Exame Correto:</label>
      <input
        type="text"
        id="testesFarmaDTOCorreto{{ i }}"
        [(ngModel)]="exame.testesFarmaDTOCorreto"
        name="testesFarmaDTOCorreto{{ i }}"
        required
      />

      <label for="testesFarmaDTOIncorreto{{ i }}">Exame Incorreto:</label>
      <input
        type="text"
        id="testesFarmaDTOIncorreto{{ i }}"
        [(ngModel)]="exame.testesFarmaDTOIncorreto"
        name="testesFarmaDTOIncorreto{{ i }}"
      />

      <button
        (click)="removerExame(i)"
        class="full-width mat-elevation-z4 remover"
        mat-raised-button
        color="primary"
      >
        Remover Exame
      </button>
    </div>

    <div class="botoes-escolha">
      <button
        (click)="adicionarExame()"
        class="full-width mat-elevation-z4 adicionar"
        mat-raised-button
        color="primary"
      >
        Adicionar Exame
      </button>

      <button
        (click)="criarExamesParaCasoClinicoReceiver()"
        class="full-width mat-elevation-z4 criar"
        mat-stroked-button
        color="warn"
        routerLink="/home"
      >
        Criar Exames
      </button>
    </div>
  </form>
</div>
