<div>
  <div class="container">
    <h1 class="mat-elevation-z8">SOFTMED - Casos Clinicos</h1>
  </div>

  <h2>Listando Casos Clinicos</h2>

  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. ium"
      #input
    />
  </mat-form-field>

  

  <!--<mat-form-field appearance="fill">
    <mat-label>Favorite food</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="food">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p> Selected food: {{selectedValue}} </p>
  <h4>native html select</h4>
  <mat-form-field appearance="fill">
    <mat-label>Favorite car</mat-label>
    <select matNativeControl [(ngModel)]="selectedCar" name="car">
      <option value="" selected></option>
      <option *ngFor="let car of cars" [value]="car.value">
        {{car.viewValue}}
      </option>
    </select>
  </mat-form-field> -->




  <div class="especialidades">
    <mat-form-field class="full-width" appearance="outline">
       <mat-label>Selecione Uma Especialidade</mat-label>
       <mat-select >
        <mat-option value="CLINICA_MEDICA">CLINICA MEDICA</mat-option>
        <mat-option value="PEDIATRIA">PEDIATRIA</mat-option>
        <mat-option value="OBESIDADE">OBESIDADE</mat-option>
       </mat-select>

  
     </mat-form-field>
  </div>




  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="casoClinicoId">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.casoClinicoId }}</td>
      </ng-container>

      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef>Número do Caso</th>
        <td mat-cell *matCellDef="let element">{{ element.numero }}</td>
      </ng-container>

      <ng-container matColumnDef="nomePaciente">
        <th mat-header-cell *matHeaderCellDef>Nome do Paciente</th>
        <td mat-cell *matCellDef="let element">{{ element.nomePaciente }}</td>
      </ng-container>

      <ng-container matColumnDef="tipoEspecialidade">
        <th mat-header-cell *matHeaderCellDef>Especialidade</th>
        <td mat-cell *matCellDef="let element">{{ element.tipoEspecialidade }}</td>
      </ng-container>


      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="view/{{ element.casoClinicoId }}">
            <i class="material-icons create">visibility</i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 2, 10, 20, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>

  <button routerLink="view" class="mat-elevation-z8" mat-stroked-button color="primary">Acessar Caso</button>

</div>
